@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  display: grid;
  grid-template: 'header header' var(--navbar-height) 'sidebar content' 1fr 'footer footer' auto / auto 1fr;

  a {
    color: var(--link-color);
  }

  min-height: 100vh;
}

.pageWrapper {
  padding: 20px;
  grid-area: content;
}
