.articleSortSelector {
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.select {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  white-space: nowrap;
}
