.footer {
  background-color: var(--inverted-bg-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--inverted-primary-color);
  grid-area: footer;
}