.button {
  cursor: pointer;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.link {
  padding: 10px 20px;
  border: none;
  background: var(--link-button-bg);
  outline: none;
  color: var(--link-button-color);
  border-radius: 5px;

  &:hover {
    background: var(--link-button-bg-hover);
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
}