

.button {
  cursor: pointer;
}

.primary {
  color: var(--primary-color);
  padding: 50 0 0;
}

.secondary {
  color: var(--inverted-primary-color);
}

.link {
  padding: 10px 20px;
  border: none;
  background: #0f172a;
  outline: none;
  color: #fff;
  border-radius: 5px;

  &:hover {
    background: #1e293b;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}
