:global(.app) {
  --sidebar-width: 300px;

  .sidebar {
    display: flex;
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    flex-direction: column;
    gap: 16px;

    position: relative;

    grid-area: sidebar;
  }

  .collapsed {
    --sidebar-width: 80px;
  }

  grid-template-columns: var(--sidebar-width) 1fr;
}


