.text {
  font-size: 14px;
}

.titleParagraph {
  font: var(--font-l);
  color: var(--primary-color);
}

.textParagraph {
  font: var(--font-m);
  color: var(--secondary-color);
}

.error {
  .titleParagraph {
    color: var(--red-light);
  }

  .textParagraph {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
