.theme.dark {
  --bg-color: #2c2e4a; /* Тёмно-синий индиго */
  --inverted-bg-color: #e0e1f5; /* Мягкий светлый */
  --primary-color: #d3d3e0; /* Светло-серый */
  --primary-color-red: #db6a5b; /* Тёмный индиго */
  --primary-hover-color: #bebed4; /* Светло-серый */
  --primary-color-placeholder: rgba(211, 211, 224, 0.5);
  --inverted-primary-color: #4a4a6b;
  --inverted-primary-hover-color: #1f1f5a;
  --secondary-color: #a9adc1; /* Светло-серый индиго */
  --inverted-secondary-color: #666680;
  --link-color: #7f8bcb; /* Голубовато-серый */
  --link-button-color: #333;
  --link-button-bg: #8093c0;
  --link-button-bg-hover: #6073a0;
  --inverted-link-color: #3a3f5b;
  --skeleton-shadow: rgba(71, 80, 207, 0.2);
  --skeleton-wave: rgba(91, 93, 133, 0.7);

  // code block
  --code-bg: #474664;
}
