.app.dark {
  --bg-color: #2C2E4A; /* Тёмно-синий индиго */
  --inverted-bg-color: #E0E1F5; /* Мягкий светлый */
  --primary-color: #D3D3E0; /* Светло-серый */
  --inverted-primary-color: #4A4A6B;
  --secondary-color: #A9ADC1; /* Светло-серый индиго */
  --inverted-secondary-color: #666680;
  --link-color: #7F8BCB; /* Голубовато-серый */
  --link-button-color: #333;
  --link-button-bg: #8093c0;
  --link-button-bg-hover: #6073a0;
  --inverted-link-color: #3A3F5B;
}