.theme {
  --bg-color: #D8E1FF; /* Светлый индиго */
  --inverted-bg-color: #2C2E4A; /* Тёмно-синий индиго */
  --primary-color: #5d5da7; /* Тёмный индиго */
  --primary-color-placeholder: rgba(93, 93, 167, 0.5);
  --inverted-primary-color: #D3D3E0;
  --secondary-color: #6B6F91; /* Средний индиго */
  --inverted-secondary-color: #A9ADC1;
  --link-color: #4A5AA3; /* Светлый индиго */
  --link-button-color: #fff;
  --link-button-bg: #0f172a;
  --link-button-bg-hover: #1c2844;
  --inverted-link-color: #7F8BCB;
}