.theme {
  --bg-color: #d8e1ff; /* Светлый индиго */
  --inverted-bg-color: #2c2e4a; /* Тёмно-синий индиго */
  --primary-color: #5d5da7; /* Тёмный индиго */
  --primary-color-red: #af4234; /* Тёмный индиго */
  --primary-hover-color: #6b6bb8; /* Тёмный индиго */
  --primary-color-placeholder: rgba(93, 93, 167, 0.5);
  --inverted-primary-color: #d3d3e0;
  --inverted-primary-hover-color: #7070a7;
  --secondary-color: #6b6f91; /* Средний индиго */
  --inverted-secondary-color: #a9adc1;
  --link-color: #4a5aa3; /* Светлый индиго */
  --link-button-color: #fff;
  --link-button-bg: #0f172a;
  --link-button-bg-hover: #1c2844;
  --inverted-link-color: #7f8bcb;
  --skeleton-shadow: rgba(0, 0, 0, 0.3);
  --skeleton-wave: rgba(255, 255, 255, 0.5);

  // code block
  --code-bg: #e9e6e6;
}
