.app {
  --bg-color: #D8E1FF; /* Светлый индиго */
  --inverted-bg-color: #2C2E4A; /* Тёмно-синий индиго */

  --primary-color: #5d5da7; /* Тёмный индиго */
  --inverted-primary-color: #D3D3E0;

  --secondary-color: #6B6F91; /* Средний индиго */
  --inverted-secondary-color: #A9ADC1;

  --link-color: #4A5AA3; /* Светлый индиго */
  --inverted-link-color: #7F8BCB;
  
}