.theme.purple {
  --bg-color: #50005a;
  --inverted-bg-color: #960ca7;
  --primary-color: #fffb6a; /* Тёмный индиго */
  --primary-color-red: #cb1212; /* Тёмный индиго */
  --primary-hover-color: #e72b2b; /* Тёмный индиго */
  --primary-color-placeholder: rgba(255, 251, 106, 0.5);
  --inverted-primary-color: #60ff00;
  --inverted-primary-hover-color: #a4ff6c;
  --secondary-color: #df8107; /* Средний индиго */
  --inverted-secondary-color: #6b1f8f;
  --link-color: #548dc4; /* Светлый индиго */
  --link-button-color: #82c8e4;
  --link-button-bg: #b944c9;
  --link-button-bg-hover: #a833b8;
  --inverted-link-color: rgb(17, 28, 92);
}
