.flex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.justifyStretch {
  justify-content: stretch;
}

.alignStretch {
  align-items: stretch;
}

.alignStart {
  align-items: start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.directionRow {
  flex-direction: row;
}

.directionColumn {
  flex-direction: column;
}

.directionRowReverse {
  flex-direction: row-reverse;
}

.directionColumnReverse {
  flex-direction: column-reverse;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

.flexWrap {
  flex-wrap: wrap;
}

.gap0 {
  gap: 0;
}

.gap4 {
  gap: 4px;
}

.gap8 {
  gap: 8px;
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}

.gap48 {
  gap: 48px;
}

.gap64 {
  gap: 64px;
}
