.card {
  border-radius: 12px;
  border: 1px solid transparent;
}

.smallSize {
  padding: 2px 5px;
  border-radius: 6px;
}

.normalSize {
  padding: 10px 15px;
}

.largeSize {
  padding: 15px 25px;
}

.normal {
  background: var(--card-bg);
}

.outlined {
  border: 1px solid var(--primary-color);
}
